<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Reset Password</title>
    <th:block th:insert="fragment/head"/>
</head>
<body class="loading">
<!-- Begin page -->
<!-- TopNavbar Start -->

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
<div class="container">
    <div class="row d-flex justify-content-center align-items-center vh-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p th:if="${sendEmail == null}" >You can reset your password here.</p>
                        <div class="panel-body">
                                <h4 class="text-success"
                                      th:if="${sendEmail}" th:text="#{${sendEmail}}">
                                </h4>
                            <form id="register-form" role="form" autocomplete="off" class="form" method="post"
                                  th:action="@{/forgot-password}" th:object="${forgotPasswordDto}">

                                <span class="text-danger" th:errors="*{email}"></span>
                                <th:block th:if="${sendEmail  == null}">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="email" name="email" placeholder="email address"
                                               class="form-control" type="email" th:field="*{email}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-success btn-block"
                                           value="Reset Password" type="submit">
                                </div>
                                </th:block>
                                <div class="form-group">
                                    <a th:href="@{/login}"
                                       class="btn btn-secondary btn-lg btn-block">Back to Login</a>
                                </div>
                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Page content -->

<th:block th:insert="fragment/foot"/>

</body>
</html>