

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IMS Login</title>
    <th:block th:insert="fragment/head"/>
    <style>
        .error {
            color: red;
            margin-bottom: 0;
            margin-top: 0.2rem;
        }
    </style>
</head>
<body class="loading authentication-bg-pattern">
<div class="account-pages">
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">

                    <div class="card-body p-4 shadow">
                        <div class="text-center w-75 m-auto">
                            <div class="auth-logo">
                                <h1 class="">IMS Recruitment</h1>
                            </div>
                        </div>

                        <div>
                            <h2 class="text-center">Reset Your Password</h2>
                        </div>
                        <form th:action="@{/reset-password}" method="post" th:object="${forgotPasswordDto}">
                            <input type="hidden" th:field="*{validatedToken}">
                            <th:block th:if="${forgotPasswordDto.validatedToken == null}">
                                <p class="text-danger text-center" th:text="#{message.token.expired}"></p>
                                <div class="form-group">
                                    <a th:href="@{/login}"
                                       class="btn btn-secondary btn-lg btn-block">Back to Login</a>
                                </div>
                            </th:block>
                            <th:block th:if="${forgotPasswordDto.validatedToken != null}">
                                <div class="border border-secondary rounded p-3">
                                    <div>
                                        <p><input type="password" name="password" id="password" class="form-control"
                                                  placeholder="Enter your new password" autofocus th:field="*{password}"/></p>
                                        <p><span class="text-danger" th:errors="*{password}"></span></p>
                                        <p><input type="password" class="form-control" placeholder="Confirm your new password"
                                                  th:field="*{confirmPassword}"/></p>
                                        <p><span class="text-danger" th:errors="*{confirmPassword}"></span></p>
                                        <p class="text-center">
                                            <input type="submit" value="Change Password" class="btn btn-info"/>
                                        </p>
                                        <input class="form-control" type="hidden"
                                               th:field="*{email}">
                                    </div>
                                </div>
                                <div>
                                    <div class="pt-2 text-info">Secure Password requirements</div>
                                    <ol>
                                        <li>Password must contain at least one digit [0-9].</li>
                                        <li>Password must contain at least one lowercase Latin character [a-z].</li>
                                        <li>Password must contain at least one uppercase Latin character [A-Z].</li>
                                        <li>Password must contain at least one special character like ! @ # & ( ).</li>
                                        <li>Password must contain a length of at least 8 characters and a maximum of 20 characters.</li>
                                    </ol>
                                </div>
                            </th:block>
                        </form>
                    </div> <!-- end card-body -->
                </div>

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->
<!-- Vendor js -->
<th:block th:insert="fragment/foot"/>

<script th:inline="javascript">
    $(function () {
        const message = /*[[#{${'message.003'}}]]*/ '';
        $('#login-form').validate({
            rules: {
                'username': {
                    required: true
                },
                'password': {
                    required: true
                }
            },
            messages: {
                'username': {
                    requires: message,
                },
                'password': {
                    requires: message,
                }
            }
        })
    })
</script>

</body>
</html>