<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Candidate</title>
    <th:block th:insert="fragment/head"/>
    <link th:href="@{/css/custom-select2-selectize.css}" rel="stylesheet">

</head>
<body class="loading">
<!-- Begin page -->
<div id="wrapper">
    <!-- TopNavbar Start -->
    <th:block th:insert="fragment/top-navbar"/>
    <!-- TopNavbar End-->
    <!-- Left Sidebar Start -->
    <th:block th:insert="fragment/sidebar"/>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <div class="content common-font-size-mc">
            <!-- Start Content-->
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-8">
                        <div class="page-title-box">
                            <h4 class="page-title pt-1 lh-lg">Candidate</h4>
                            <div class="page-title-left">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a th:href="@{/candidates}">Candidate</a></li>
                                    <li class="breadcrumb-item active">Update candidate</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!--            TuTM9: Hiển thị lỗi ở đây (nếu có) -->
                    <div class="col-4 flex-column justify-content-center" id="alert-delete-attachfile"
                         style="display: none!important;">
                        <div class="alert alert-success alert-dismissible fade show mt-3 message" role="alert">
                            <span th:text="#{'message.0020'}"></span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" style="background-color: #fff"
                                      enctype="multipart/form-data"
                                      th:object="${candidateParamDto}"
                                      th:action="@{/candidates/edit/{candidateId}(candidateId=${candidateParamDto.id})}">
                                    <div class="row mb-2">
                                        <div class="col-lg-8">
                                            <h4 class="header-title">I. Personal information</h4>
                                        </div>
                                    </div>
                                    <input type="hidden" th:field="*{id}">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label>Full name <span class="text-danger">*</span></label>
                                                <input th:field="*{fullName}" type="text" class="form-control"
                                                       placeholder="Type a name...">
                                                <span class="text-danger" th:errors="*{fullName}"></span>
                                            </div>
                                        </div>
                                        <div class=" col-lg-6">
                                            <div class="form-group mb-3">
                                                <label>Email <span class="text-danger">*</span></label>
                                                <input th:field="*{email}" type="email" class="form-control"
                                                       th:readonly="true">
                                                <span class="text-danger" th:errors="*{email}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>D.O.B</label>
                                                <input th:field="*{dob}" type="text"
                                                       placeholder="dd/mm/yyyy"
                                                       class="form-control">
                                                <span class="text-danger" th:errors="*{dob}"></span>

                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input th:field="*{address}" type="text" class="form-control"
                                                       placeholder="Type an address...">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Phone number</label>
                                                <input th:field="*{phone}" type="text" class="form-control"
                                                       th:readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label>Gender <span class="text-danger">*</span></label> <br/>
                                                <select th:field="*{gender}" class="form-control select-similar">
                                                    <option value="" data-display="Select"
                                                            th:text="'Select a gender'">
                                                    </option>
                                                    <option th:each="genderEnum : ${T(com.fa.ims.enums.Gender).values()}"
                                                            th:value="${genderEnum}"
                                                            th:selected="${genderEnum} == *{gender}"
                                                            th:text="${genderEnum.getDisplayValue()}">
                                                    </option>
                                                </select>
                                                <span class="text-danger" th:errors="*{gender}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-1 mb-2">
                                        <div class="col-lg-8">
                                            <h4 class="header-title">II. Professional Information</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label>CV Attachment</label><span class="font-italic"
                                                                                  th:text="' (*.pdf, *.doc, *.docx, Max: 5MB)'"></span>
                                                <div class="input-group clockpicker" data-placement="top"
                                                     data-align="top"
                                                     data-autoclose="true">
                                                    <input th:field="*{fileUpdate}" type="file" accept=".doc,.docx,.pdf"
                                                           class="form-control"
                                                           th:attr="style=(${candidateParamDto.attachFile}?'display:none':'display:block')">
                                                    <label th:if="(!${#strings.isEmpty(candidateParamDto.attachFile)})"
                                                           class="form-control" id="showFileName"
                                                           style="border-right: 0"
                                                           th:text="${#strings.arraySplit(candidateParamDto.attachFile, '/')[#arrays.length(#strings.arraySplit(candidateParamDto.attachFile, '/')) - 1]}">
                                                    </label>
                                                    <div class="input-group-append">
                                                        <!-- Button trigger modal  -->
                                                        <a th:if="${candidateParamDto.attachFile}"
                                                           data-th-id="btn-delete"
                                                           th:attr="data-bs-target=${'#exampleModal'+'1'} "
                                                           type="button" class=""
                                                           data-bs-toggle="modal">
                                                                  <span class="input-group-text"
                                                                        style="padding: .35rem .5rem; background-color:#fff; border-left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;">
                                                              <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                   height="24" viewBox="0 0 24 24" fill="none"
                                                                   stroke="currentColor" stroke-width="2"
                                                                   stroke-linecap="round" stroke-linejoin="round"
                                                                   class="feather feather-x icon-dual"><line x1="18"
                                                                                                             y1="6"
                                                                                                             x2="6"
                                                                                                             y2="18"></line><line
                                                                      x1="6" y1="6" x2="18" y2="18"></line>
                                                              </svg>
                                                        </span>
                                                        </a>
                                                        <!-- Modal -->
                                                        <div class="modal fade bg-light.bg-gradient"
                                                             th:attr="id=${'exampleModal'+'1'}"
                                                             tabindex="-1" aria-labelledby="exampleModalLabel"
                                                             aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content bg-light.bg-gradient">
                                                                    <div class="text-center p-3">
                                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                                            Do you want
                                                                            to delete this Attach File</h5>
                                                                        <p class="text-danger">Notice: You can't revert
                                                                            attach file after delete!</p>
                                                                    </div>
                                                                    <div class="pb-3 d-flex justify-content-center">
                                                                        <button th:attr="onclick=|deleteFile()|"
                                                                                type="button"
                                                                                class="btn btn-info px-4 me-4"
                                                                                data-bs-dismiss="modal">YES
                                                                        </button>
                                                                        <button type="button"
                                                                                class="btn btn-secondary px-4"
                                                                                data-bs-dismiss="modal">NO
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="input-group-append"
                                                         th:if="(!${#strings.isEmpty(candidateParamDto.attachFile)})"
                                                         id="btn-download">
                                                        <a target="_blank"
                                                           th:href="@{/files/{path}(path=${candidateParamDto.getAttachFile()})}">
                                                        <span class="input-group-text"
                                                              style="padding: .35rem .5rem; background-color:#fff; border-top-left-radius: 0; border-bottom-left-radius: 0;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                             stroke-width="2" stroke-linecap="round"
                                                             stroke-linejoin="round"
                                                             class="feather feather-download icon-dual"><path
                                                                d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline
                                                                points="7 10 12 15 17 10"></polyline><line x1="12"
                                                                                                           y1="15"
                                                                                                           x2="12"
                                                                                                           y2="3"></line></svg>
                                                        </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <span class="text-danger" th:errors="*{fileUpdate}"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label>Status <span class="text-danger">*</span></label> <br/>
                                                <select th:field="*{candidateStatus}"
                                                        class="form-control select-similar">
                                                    <option th:each="status : ${T(com.fa.ims.enums.CandidateStatus).values()}"
                                                            th:value="${status}"
                                                            th:selected="${status} == *{candidateStatus}"
                                                            th:text="${status.getDisplayValue()}"></option>
                                                </select>
                                                <span class="text-danger" th:errors="*{candidateStatus}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label>Position <span class="text-danger">*</span></label>
                                                <select th:field="*{candidatePosition}" class="form-control"
                                                        data-toggle="select2">
                                                    <option th:each="position : ${T(com.fa.ims.enums.CandidatePosition).values()}"
                                                            th:value="${position}"
                                                            th:checked="${position} == *{candidatePosition}"
                                                            th:text="${position.getDisplayValue()}">
                                                    </option>
                                                    <!--                                                            <option value="3">Manage</option>-->
                                                </select>
                                                <span class="text-danger" th:errors="*{candidatePosition}"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label>Year of experience</label>
                                                <input th:field="*{yearExperience}" type="number"
                                                       class="form-control" placeholder="Type a number">
                                                <span class="text-danger" th:errors="*{yearExperience}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label>Skills <span class="text-danger">*</span></label>
                                                <select th:field="*{candidateSkillList}"
                                                        class="form-control select2-multiple"
                                                        data-toggle="select2"
                                                        multiple="multiple" data-placeholder="Choose ...">
                                                    <option th:each="skill : ${skillDtoList}"
                                                            th:value="${skill.getId()}"
                                                            th:text="${skill.getSkillName()}">
                                                    </option>
                                                </select>
                                                <span class="text-danger" th:errors="*{candidateSkillList}"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label>Highest Level <span class="text-danger">*</span></label>
                                                <select th:field="*{highestLevel}" class="form-control select-similar">
                                                    <option th:each="highestLevel : ${T(com.fa.ims.enums.CandidateHighestLevel).values()}"
                                                            th:value="${highestLevel}"
                                                            th:checked="${highestLevel} == *{highestLevel}"
                                                            th:text="${highestLevel.getDisplayValue()}"></option>
                                                </select>
                                                <span class="text-danger" th:errors="*{highestLevel}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-lg-6">
                                            <div class="form-group mb-2">
                                                <label>Recruiter <span class="text-danger">*</span></label>
                                                <br/>
                                                <select th:field="*{recruiterId}" class="form-control"
                                                        data-toggle="select2">
                                                    <option th:each="recruiter : ${recruiterList}"
                                                            th:value="${recruiter.getId()}"
                                                            th:selected="${recruiter.getId()} == *{recruiterId}"
                                                            th:text="${recruiter.fullName} + ' - ' + ${recruiter.getUsername()}"></option>
                                                </select>
                                                <span class="text-danger" th:errors="*{recruiterId}"></span>
                                            </div>
                                            <th:block th:each="recruiter : ${recruiterList}">
                                                <a th:if="${recruiter.username}==${#authentication.getPrincipal().getUsername()}"
                                                   href="javascript:void(0)"
                                                   th:attr="onclick=|assignMe(${recruiter.id})|"
                                                   class="text-primary ml-2" style="text-decoration: underline">Assign
                                                    me</a>
                                            </th:block>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group mb-0">
                                                <label>Note</label>
                                                <textarea th:field="*{note}" rows="4" class="form-control"></textarea>
                                                <span class="text-danger" th:errors="*{note}"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center form-group my-3">
                                        <div class="text-center form-group mb-3">
                                            <button type="submit" class="btn btn-info btn-sm mr-3 py-1 px-3">Submit
                                            </button>
                                            <a th:href="@{/candidates}"
                                               class="btn btn-secondary btn-sm py-1 px-3">Cancel</a>
                                        </div>
                                    </div>
                                </form> <!-- end card-body -->
                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div> <!-- container -->
        </div> <!-- content -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
</div>
<th:block th:insert="fragment/foot"/>

<script th:inline="javascript">
    $(document).ready(function () {
        $('#dob').flatpickr({
            altInput: true,
            altFormat: "d-m-Y",
            dateFormat: "d-m-Y"
        });
        let $select = $(".select-similar").selectize();
    })

    function deleteFile() {

        let message = /*[[${candidateParamDto.attachFile}]]*/ '';
        $.ajax({
            method: 'DELETE',
            url: `${CONTEXT_PATH}files/` + message,
            beforeSend: (request) => {
                request.setRequestHeader(header, token);
            }
        }).done(function () {
            $('#showFileName').hide();
            $('#btn-delete').hide();
            $('#btn-download').hide();
            $('#alert-delete-attachfile').show();
            $('#fileUpdate').css("display", "block");
            setTimeout(function () {
                $("#alert-delete-attachfile").fadeOut("slow");
            }, 3000)
        }).fail(function () {
            location.reload();
        });
    }

    function assignMe(id) {
        let opt = $('#recruiterId').children("option[value=" + id + "]");
        opt.attr('selected', 'selected');
        $('#select2-recruiterId-container').text(opt.text());
    }
</script>
</body>
</html>